.navbar{
    background-color: black;
    color: aliceblue;
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
    font-size: 30px;
    font-family: monospace;
}
.nav-link:hover{
    color: rgb(250, 173, 20);
}
.navbar-brand:hover{
    color: rgb(250, 173, 20);
    
}
#main{
    display: flex;
    position: fixed;
}
.navbar-toggler-icon{
    background-color: white;
}